body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  
  header {
    background-color: #f3d7d7;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 5px -5px #333;
    justify-content: center;
  
  }
  
  /* Navigation menu styles */
  nav {
    font-family: arial ;
    font-size: larger;
    font-weight: bold;
    background-color: #6fa1c2;
    color: #fff;
    padding: 10px;
    box-shadow: 0 5px 5px -5px #444;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 50px;
  }
  
  nav a {
    font-family: arial ;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
    font-size: larger;
  }
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .nav a input[type=text] {
    border: 1px solid #ccc;
  }
  
  nav a:hover {
    color: #332f2f;
  }
  
/* Tour Guide Booking */
tourguide {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Tour Guide #1 */
tourguide .tourguide1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 450px;
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.2s;
  text-decoration: none;
  background-image: url(img/cardcolor.png);
}

tourguide .tourguide1:hover {
  transform: translateY(-5px);
}

tourguide .tourguide1 h2 {
  color: #000000;
  font-size: 24px;
}

tourguide .tourguide1 p {
  color: #666;
}

/* Tour Guide #2 */
tourguide .tourguide2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.2s;
  text-decoration: none;
  background-image: url(img/cardcolor.png);
}

tourguide .tourguide2:hover {
  transform: translateY(-5px);
}

tourguide .tourguide2 h2 {
  color: #000000;
  font-size: 24px;
}

tourguide .tourguide2 p {
  color: #666;
}

/* Tour Guide #3 */
tourguide .tourguide3 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.2s;
  text-decoration: none;
  background-image: url(img/cardcolor.png);
}

tourguide .tourguide3:hover {
  transform: translateY(-5px);
}

tourguide .tourguide3 h2 {
  color: #000000;
  font-size: 24px;
}

tourguide .tourguide3 p {
  color: #666;
}

/* Tour Guide #4 */
tourguide .tourguide4 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.2s;
  text-decoration: none;
  background-image: url(img/cardcolor.png);
}

tourguide .tourguide4:hover {
  transform: translateY(-5px);
}

tourguide .tourguide4 h2 {
  color: #000000;
  font-size: 24px;
}

tourguide .tourguide4 p {
  color: #666;
}
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h2 {
    color: #333;
    font-size: 24px;
  }
  
  .card p {
    color: #666;
  }
  
  
  .btn {
    background-color: #33cc99;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #1e7f5b;
  }
  
  
  footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  
  @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
  
    nav li {
        margin: 10px 0;
    }
  }
  
 
/* Tour Guide */
.tourguide {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.tourguide-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.tourguide-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.tourguide-container::-webkit-scrollbar {
  display: none;
}

.tourguide-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.tourguide-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.tourguide-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.tourguide-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.tourguide-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.tourguide-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
