@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

:root {
  --color-primary: #e1144b;
  --color-dark: #2b2b2b;
  --color-text: #393939;
  --color-white: #ffffff;
  --color-white-2: #f9f9f9;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif
}

.container {
  max-width: 104rem;
  margin: 0;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}



/* Header */
.header {
  background-image: url('img/yangbew1.jpg');
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header img{
  width: 150px;
  height: auto;
  margin-right: 0px;
  margin-top: 60px;
  margin-left: 10px;
}

.nav {
  width: 100%;
  height: 13rem;
}

.nav ul{
  list-style: none;
}

.nav ul li{
  position: relative;
  float: left;
}

.nav ul li a{
  font-size: 16px;
  padding: 20px;
  color: #333;
  display: block;
  font-weight: 400;
}

.nav ul li a:hover{
  background: #333;
  color: #fff;
}

.nav ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

.nav ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.nav ul li ul li ul{
  left: 200px;
  top:0
}

.nav ul li:focus-within > ul,
.nav ul li:hover > ul{
  display: initial;
}


.container-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item{
  margin: 0.5rem 1.2rem;
}

.nav-link {
  font-size: 1.7rem;
  color: var(--color-white);
  transition: color 0.3s ease;
}


.nav-link:hover,
.nav-link:active {
  color: var(--color-primary); 
}

.active {
  color: var(--color-primary);
  font-weight: 500;
  border-bottom: 2px solid var(--color-primary);
}

.nav-btn {
  background-color: var(--color-white);
  padding: 0.6rem 1.5rem;
  border-radius: 0.1rem;
}

/*  Header Content */

.container-header-content {
  width: 100%;
  height: 100vh;
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.header-content-wrapper {
  color: var(--color-white);
}

.header-title {
  font-size: 4.8rem;
}

.header-form {
  background-color: var(--color-white);
  padding: 2rem;
  margin-top: 4rem;
  color: var(--color-text);
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0rem 0.5rem;
}

.form-label {
  font-size: 1.3rem; 
  font-weight: 600;
}

.form-controller {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--color-white-2);
  border: 1px solid var(--color-white-2);
  border: none;
  outline: none;
}

.form-btn {
  background-color: var(--color-primary);
  padding: 1rem 1.3rem;
  color: var(--color-white-2);
  border-radius: 0.3rem;
}

/*  Process */
.process {
  background-color: var(--color-white-2);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #7f7f7f49;
  width: 70%;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
}

.process-container {
  max-width: 80rem;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

.process-icon > svg {
  width: 5rem;
  height: 5rem;
  color: var(--color-primary);
}

.process-title {

}

.process-text {
  font-size: 1.4rem;
  color: var(--color-text);
}

/* Trending CSS  */
.trending{
    margin-top: 5rem;
  }

.trending-main-title{
  font-weight: 800;
  margin-left: 20rem;

}

.trending-wrapper {
  max-width: 70%; /* Adjust the max-width as needed */
  margin: -4rem auto 0 auto; /* Align with the process and lift it up */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Adjust minmax values */
  grid-gap: 3rem;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

.trending-card {
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: var(--color-white-2);
  box-shadow: 0.5rem 0.5rem 0.5rem 1rem #7f7f7f49;
}

.trending-img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.trending-header {
  display: flex;
  justify-content:  space-between;
  align-items: center;
}


.trending-type {
  font-size: 1.4rem;
  color: var(--color-text);
}

.trending-icon > svg {
  width: 2rem;
  height: 2rem;

}

.trending-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.trending-price {
  margin-top: 1rem;
}

.trending-price > p {
  font-size: 1.2rem;
  color: var(--color-text);
}

.price-ratings-stars {
  display: flex;
}

.price-ratings-stars > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.trending-price-value {
  color: var(--color-text);
  line-height: 3rem;
}
.card-duration {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
}
.card-duration > svg {
  width: 2rem;
  height: 2rem;
}

