@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

body {
    background-color: #e1dee9;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #f7f6f9;
}

html::-webkit-scrollbar-thumb {
    background: #383347;
}

section {
    padding: 2rem 9%;
}

/* reusable css start */

.heading {
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #52389b;
}

.heading h3 {
    font-size: 3rem;
    color: #130f40;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1.7rem 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #f7f6f9;
    background: linear-gradient(135deg, #494262, #6e6592);
    border-radius: 1rem;
}

.btn:hover {
    background: linear-gradient(135deg, #6e6592, #494262);
}

/* reusable css end */


/* header section start */

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #f7f6f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    border-radius: 0 0 2rem 2rem;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #130f40;
}

.header .logo i {
    padding-right: .5rem;
    color: #494262;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #383347;
    transition: all .4s ease-out;
}

.header .navbar a:hover {
    color: #52389b;
}

.header .btn-warning {
    color: white;
    background-color: #ff9800;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;

}

.header .icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #edecf2;
    color: #130f40;
    border-radius: 50%;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease-out;
}

.header .icons div:hover {
    background: #d8d5e2;
}

#menu-btn {
    display: none;
}

/* header section end */


/* search form section start */

.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #f7f6f9;
    z-index: 1000;
    display: none;
    margin: 2%;
    border-radius: 3rem;
}

.search-form-container.active {
    display: block;
}

.search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid #130f40;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    padding-right: 1rem;
    background: transparent;
}

.search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: #130f40;
}

.search-form-container form label:hover {
    color: #52389b;
}

/* search form section end */

/* category section start */

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.category .box {
    padding: 2rem;
    text-align: center;
    border-radius: 1.75rem;
    background: #f7f6f9;
    transition: all 0.3s ease-out;
}

.category .box:hover {
    transform: translateY(-4px);
    background: #d8d5e2;
}

.category .box img {
    height: 20rem;
    width: 23rem;
    border-radius: .50rem;
}

.category .box h3 {
    font-size: 1.8rem;
    color: #130f40;
}

/* category section end */


/* about section start */

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background: #f7f6f9;
    border-radius: 3rem;
    margin: 2%;
}

.image .kai-image img {
    height: 100%;
    width: 100%;
}

.about .content span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #52389b;
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.8rem;
    color: #494262;
}

.about .content .menu {
    width: 100%;
}

.about .operating-hours {
    font-size: 3rem;
    color: #130f40;
    padding-bottom: .5rem;
}

.about .operating-hours {
    font-size: 1.8rem;
    color: #6e6592;
}

.stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.stars i {
    color: #afacac;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}

/* about section end */

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        margin: 2%;
        border-radius: 2rem;
        background: #f7f6f9;
        text-align: center;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    .home .home-parallax-img {
        top: 0;
        right: 0;
        width: 100%;
    }

    .order form .flex .inputBox {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .shopping-cart-container .cart-total .box {
        text-align: center;
    }

    .shopping-cart-container .cart-total .box .btn {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}