@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}

body {
  background-color: #f3f3f3;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #e1dee9;
}

html::-webkit-scrollbar-thumb {
  background: #52389b;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #52389b;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  background: #52389b;
  border-radius: 1rem;
  transition: background 0.3s;
}

.btn:hover {
  background: #6e6592;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #130f40;
}

.logo i {
  padding-right: 0.5rem;
  color: #494262;
}

.navbar {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  font-size: 1.7rem;
  color: #383347;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #52389b;
}

.navbar a.active {
  color: #52389b;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons a {
  color: #494262;
  font-size: 1.7rem;
  transition: color 0.3s;
}

.icons a:hover {
  color: #52389b;
}

.header .btn-warning {
  color: white;
  background-color: #ff9800;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  transition: background 0.3s;
}

.header .btn-warning:hover {
  background-color: #e68a00;
}

#menu-icon {
  font-size: 3.5rem;
  color: #52389b;
  cursor: pointer;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 63vh;
    background: #d8d5e2;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .navbar a {
    margin: 1.2rem 0;
  }

  .navbar.open {
    right: 2%;
  }
}

.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #f7f6f9;
  z-index: 1000;
  display: none;
  margin: 2%;
  border-radius: 3rem;
}

.search-form-container.active {
  display: block;
}

.search-form-container form {
  height: 7rem;
  border-bottom: 0.2rem solid #130f40;
  width: 100%;
  display: flex;
  align-items: center;
  animation: fadeUp 0.4s linear;
}

.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  padding-right: 1rem;
  background: transparent;
}

.search-form-container form label {
  font-size: 3rem;
  cursor: pointer;
  color: #130f40;
}

.search-form-container form label:hover {
  color: #52389b;
}

.first,
.second,
.third,
.fourth {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 3rem;
  margin: 1.5% 2%;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.first .content span,
.second .content span,
.third .content span,
.fourth .content span {
  font-size: 2rem;
  color: #635985;
}

.first .content h3,
.second .content h3,
.third .content h3,
.fourth .content h3 {
  font-size: 3rem;
  color: #130f40;
}

.first .content h2 {
  font-size: 2.5rem;
  color: #130f40;
  padding-top: 1rem;
}

.first .content p,
.second .content p,
.third .content p,
.fourth .content p {
  font-size: 1.6rem;
  color: #494262;
  line-height: 2;
  padding: 1rem 0;
}

.first .content img,
.second .content img,
.third .content img,
.fourth .content img {
  height: 5%;
  width: 5%;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background: #fff;
  border-radius: 3rem;
  margin: 2%;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
  border-radius: 2rem;
  transition: transform 0.3s;
}

.about .content {
  flex: 1 1 40rem;
}

.about .content span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #52389b;
}

.about .content .title {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color: #494262;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .content .icons-container .icons {
  flex: 1 1 20rem;
  border-radius: 1.75rem;
  background: #edecf2;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: box-shadow 0.3s;
}

.about .content .icons-container .icons:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about .content .icons-container .icons:hover img {
  transform: translateY(-3px);
}

.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.restaurant .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.restaurant .box-container .box {
  border-radius: 3rem;
  overflow: hidden;
}

.restaurant .box-container .box:hover .image h3 {
  left: 1.5rem;
}

.restaurant .box-container .box:hover .image img {
  transform: scale(1.1);
}

.restaurant .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.restaurant .box-container .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #130f40;
  font-size: 1.5rem;
  transition: left 0.3s, transform 0.3s;
}

.restaurant .box-container .box .image h3 i {
  padding-right: 0.5rem;
  color: #52389b;
}

.restaurant .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.restaurant .box-container .box .content {
  padding: 2rem 1.5rem;
  background: #fff;
}

.restaurant .box-container .box .content .tags {
  padding-bottom: 1rem;
}

.restaurant .box-container .box .content .tags a {
  font-size: 1.5rem;
  color: #494262;
  padding-right: 0.5rem;
}

.restaurant .box-container .box .content .tags a:hover {
  color: #52389b;
}

.restaurant .box-container .box .content .tags a i {
  color: #494262;
  padding-right: 0.5rem;
}

.restaurant .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.restaurant .box-container .box .content p {
  font-size: 1.6rem;
  color: #494262;
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background: #f7f6f9;
  border-radius: 3rem;
  margin: 2%;
  padding: 3rem;
}

.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newsletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}

.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

.footer .newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}

.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #494262;
  cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
  background: #130f40;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #494262;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #494262;
  padding: 1rem 0;
  transition: color 0.3s;
}

.footer .box-container .box a:hover {
  color: #52389b;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #52389b;
}

.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0 0.3rem;
  color: #494262;
  background: #edecf2;
  transition: all 0.3s ease-out;
}

.footer .bottom .share a:hover {
  color: #edecf2;
  background: #494262;
}

.footer .bottom .credit {
  font-size: 1.6rem;
  color: #494262;
  padding: 1rem;
}

.footer .bottom .credit span {
  color: #52389b;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 2%;
    border-radius: 2rem;
    background: #fff;
    text-align: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }

  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 100%;
  }

  .order form .flex .inputBox {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .shopping-cart-container .cart-total .box {
    text-align: center;
  }

  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}
