@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}

body {
  background-color: #e1dee9;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #f7f6f9;
}

html::-webkit-scrollbar-thumb {
  background: #383347;
}

section {
  padding: 2rem 9%;
}

/* reusable css start */

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #52389b;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.7rem 2.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #f7f6f9;
  background: linear-gradient(135deg, #494262, #6e6592);
  border-radius: 1rem;
}

.btn:hover {
  background: linear-gradient(135deg, #6e6592, #494262);
}

/* reusable css end */

/* header section start */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f7f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  border-radius: 0 0 2rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #130f40;
}

.logo i {
  padding-right: 0.5rem;
  color: #494262;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #383347;
  transition: all 0.4s ease-out;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-weight: 500;
}

.navbar a:hover {
  color: #52389b;
}

.navbar a.active {
  color: #52389b;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a {
  margin-right: 25px;
  margin-left: 10px;
  color: #000;
  font-weight: 500;
  transition: all 0.5s ease;
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 1.7rem;
}

.icons a span:first-child {
  display: inline-block;
  padding: 10px;
}

.icons a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.icons a span {
  transition: transform 0.2s ease-out;
}
.icons a:hover span:first-child {
  transform: translateY(100%);
}
.icons a:hover span:last-child {
  transform: none;
}

.chat {
  display: flex;
  align-items: center;
}

.chat i {
  color: #52389b;
  font-size: 23px;
  margin-right: 7px;
}

.login {
  display: flex;
  align-items: center;
}

.login i {
  color: #52389b;
  font-size: 23px;
  margin-right: 7px;
}

.map {
  display: flex;
  align-items: center;
}

.map i {
  color: #52389b;
  font-size: 23px;
  margin-right: 7px;
}

.main a:hover {
  color: #d8d5e2;
}

.header .btn-warning {
  color: white;
  background-color: #ff9800;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}
#menu-icon {
  font-size: 35px;
  color: #52389b;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 40vh;
    background: #d8d5e2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: #52389b;
    transform: translateY(5px);
  }
  .navbar a.active {
    color: #52389b;
  }
  .navbar.open {
    right: 2%;
    transition: all 0.5s ease;
  }
}

/* header section end */

/* tourguide booking section start */

.tourguide-booking-container {
  position: fixed;
  top: 9.5rem;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #f7f6f9;
  overflow-y: scroll;
  padding-bottom: 8rem;
  border-radius: 2rem;
}

.tourguide-booking-container.active {
  display: block;
}

.tourguide-booking-container::-webkit-scrollbar {
  width: 0.3rem;
}

.tourguide-booking-container::-webkit-scrollbar-track {
  background: #f7f6f9;
}

.tourguide-booking-container::-webkit-scrollbar-thumb {
  background: #130f40;
  border-radius: 5rem;
}

.tourguide-booking-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tourguide-booking-container .booking-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  -webkit-animation: fadeUp 0.4s linear;
  animation: fadeUp 0.4s linear;
}

.tourguide-booking-container .booking-container .tourguide-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.tourguide-booking-container .booking-container .tourguide-container .box {
  border-radius: 2rem;
  background: #edecf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  transition: all 0.3s ease-out;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .close-icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .close-icon:hover {
  transform: rotate(180deg);
  color: #52389b;
}

.tourguide-booking-container .booking-container .tourguide-container .box img {
  height: 8rem;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .content
  h3 {
  font-size: 2rem;
  color: #130f40;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .content
  span {
  font-size: 1.5rem;
  color: #494262;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .content
  span.info {
  color: #52389b;
  font-size: 1.7rem;
}

.tourguide-booking-container
  .booking-container
  .tourguide-container
  .box
  .content
  input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background: #f7f6f9;
}

.tourguide-booking-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  -webkit-animation: fadeUp 0.4s linear 0.4s backwards;
  animation: fadeUp 0.4s linear 0.4s backwards;
}

.tourguide-booking-container .cart-total .box {
  padding: 1.5rem;
}

.tourguide-booking-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}

.tourguide-booking-container .cart-total .box h3 span {
  color: #52389b;
}

.card-btn1 {
  position: absolute;
  bottom: 10px;
  left: 30px;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.card-btn1:hover {
  background: white;
}
