@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

body {
    background-color: #e1dee9;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #f7f6f9;
}

html::-webkit-scrollbar-thumb {
    background: #383347;
}

section {
    padding: 2rem 9%;
}

/* reusable css start */

.heading {
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #52389b;
}

.heading h3 {
    font-size: 3rem;
    color: #130f40;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1.7rem 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #f7f6f9;
    background: linear-gradient(135deg, #494262, #6e6592);
    border-radius: 1rem;
}

.btn:hover {
    background: linear-gradient(135deg, #6e6592, #494262);
}

/* reusable css end */


/* header section start */

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #f7f6f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    border-radius: 0 0 2rem 2rem;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #130f40;
}

.header .logo i {
    padding-right: .5rem;
    color: #494262;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #383347;
    transition: all .4s ease-out;
}

.header .navbar a:hover {
    color: #52389b;
}

.header .btn-warning {
    color: white;
    background-color: #ff9800;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;

}

.header .icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #edecf2;
    color: #130f40;
    border-radius: 50%;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease-out;
}

.header .icons div:hover {
    background: #d8d5e2;
}

#menu-btn {
    display: none;
}

/* header section end */


/* search form section start */

.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #f7f6f9;
    z-index: 1000;
    display: none;
    margin: 2%;
    border-radius: 3rem;
}

.search-form-container.active {
    display: block;
}

.search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid #130f40;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    padding-right: 1rem;
    background: transparent;
}

.search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: #130f40;
}

.search-form-container form label:hover {
    color: #52389b;
}

/* search form section end */


/* home section start */

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    background: #f7f6f9;
    border-radius: 3rem;
    margin: 1.5% 2%;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
}

.home .content span {
    font-size: 2rem;
    color: #635985;
}

.home .content h3 {
    font-size: 4rem;
    color: #130f40;
    padding-top: 1rem;
}

.home .content p {
    font-size: 1.4rem;
    color: #494262;
    line-height: 2;
    padding: 1rem 0;
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
}

.home .image .home-img {
    width: 100%;
    margin-top: 5rem;
}

.home .image .home-parallax-img {
    position: absolute;
    top: -10rem;
    right: -10rem;
    width: 80vw;
}

/* home section end */

/* category section start */

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.category .box {
    padding: 2rem;
    text-align: center;
    border-radius: 1.75rem;
    background: #f7f6f9;
    transition: all 0.3s ease-out;
}

.category .box:hover {
    transform: translateY(-4px);
    background: #d8d5e2;
}

.category .box img {
    height: 7rem;
}

.category .box h3 {
    font-size: 1.8rem;
    color: #130f40;
}

/* category section end */

/* about section start */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: #f7f6f9;
    border-radius: 3rem;
    margin: 2%;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .content span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #52389b;
}

.about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: #130f40;
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #494262;
}

.about .content .icons-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .content .icons-container .icons {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: 1.75rem;
    background: #edecf2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about .content .icons-container .icons:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.about .content .icons-container .icons:hover img {
    transform: translateY(-3px);
}

.about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
}

/* about section end */

/* cafe section start */

.cafe .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #f7f6f9;
    padding: 2rem;
    border-radius: 3rem;
}

.cafe .box-container .box {
    border-radius: 2rem;
    position: relative;
    background: #edecf2;
    padding: 2rem;
    text-align: center;
    transition: all 0.3s ease-out;
}

.cafe .box-container .box:hover img {
    transform: translateY(-3px);
}

.cafe .box-container .box .wishlist-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #635985;
    cursor: pointer;
}

.cafe .box-container .box .wishlist-icon:hover {
    color: red;
}

.cafe .box-container .box .image {
    margin: 1rem 0;
}

.cafe .box-container .box .image img {
    height: 15rem;
}

.cafe .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.cafe .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.cafe .box-container .box .content .stars i {
    color: #afacac;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.cafe .box-container .box .content .stars i.active {
    color: #ff9c1a;
}

.cafe .box-container .box .content .price {
    font-size: 2rem;
    color: #130f40;
}

.cafe .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #494262;
    text-decoration: line-through;
}

.cafe .box-container .box .btn {
    width: 100%;
    border-radius: 1.3rem;
}

.cafe-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5%;
    display: flex;
    object-fit: contain;
}



/* cafe section end */

/* spots section start */

.spots .row-banner {
    background: url(../image/yangbew1.jpg) no-repeat;
    height: 45rem;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

.spots .row-banner .content {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spots .row-banner .content span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #b2601c;
}

.spots .row-banner .content h3 {
    font-size: 6rem;
    color: #733f1b;
    text-transform: uppercase;
}

.spots .row-banner .content p {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: #b2601c;
}

.spots .row-banner .btn {
    color: #fbf2d9;
    border-radius: 1.2rem;
    background: linear-gradient(135deg, #b2601c, #e5952a);
}

.spots .row-banner .btn:hover {
    background: linear-gradient(135deg, #e5952a, #b2601c);
}

.spots .grid-banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.spots .grid-banner .grid {
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    height: 45rem;
}

.spots .grid-banner .grid:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.spots .grid-banner .grid img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.spots .grid-banner .grid .content {
    position: absolute;
    top: 2rem;
    padding: 0 3rem;
}

.spots .grid-banner .grid .content.center {
    text-align: center;
    width: 100%;
}

.spots .grid-banner .grid .content.center span {
    color: #f6f7f6;
}

.spots .grid-banner .grid .content.center h3 {
    color: #fff;
}

.spots .grid-banner .grid .content span {
    font-size: 2.5rem;
    color: #fff;
}

.spots .grid-banner .grid .content h3 {
    font-size: 3rem;
    color: #fff;
    padding-top: 18rem;
}

.spots .grid-banner .grid .btn {
    border-radius: 1.3rem;
    background: linear-gradient(135deg, #0f0b0c, #412e32);
}

.spots .grid-banner .grid .btn:hover {
    background: linear-gradient(135deg, #412e32, #0f0b0c);
}

/* spots section end */


/* order section start */

.hotels .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.hotels .icons-container .icons {
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    background: #f7f6f9;
}

.hotels .icons-container .icons img {
    height: 10rem;
}

.hotels .icons-container .icons h3 {
    font-size: 2rem;
    color: #130f40;
    margin-top: .5rem;
}

.hotels form {
    background: #f7f6f9;
    padding: 2.3rem;
    border-radius: 2rem;
}

.hotels form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hotels form .flex .inputBox {
    width: 49%;
    padding: .7rem 0;
}

.hotels form .flex span {
    font-size: 1.7rem;
    color: #494262;
}

.hotels form .flex input,
.hotels form .flex textarea {
    width: 100%;
    margin-top: .5rem;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
}

.hotels form .flex textarea {
    height: 20rem;
    resize: none;
}

.hotels form .flex .map {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

/* order section end */

/* restaurants section start */

.restaurant .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.restaurant .box-container .box {
    border-radius: 3rem;
    overflow: hidden;
}

.restaurant .box-container .box:hover .image h3 {
    left: 1.5rem;
}

.restaurant .box-container .box:hover .image h3 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.restaurant .box-container .box .image {
    position: relative;
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.restaurant .box-container .box .image h3 {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: #f7f6f9;
    color: #130f40;
    font-size: 1.5rem;
}

.restaurant .box-container .box .image h3 i {
    padding-right: .5rem;
    color: #52389b;
}

.restaurant .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.restaurant .box-container .box .content {
    padding: 2rem 1.5rem;
    background: #f7f6f9;
}

.restaurant .box-container .box .content .tags {
    padding-bottom: 1rem;
}

.restaurant .box-container .box .content .tags a {
    font-size: 1.5rem;
    color: #494262;
    padding-right: .5rem;
}

.restaurant .box-container .box .content .tags a:hover {
    color: #52389b;
}

.restaurant .box-container .box .content .tags a i {
    color: #494262;
    padding-right: .5rem;
}

.restaurant .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.restaurant .box-container .box .content p {
    font-size: 1.4rem;
    color: #635985;
    padding: 1rem 0;
    line-height: 2;
}

.restaurant .box-container .box .brn {
    border-radius: 1.2rem;
}

/* restaurants section end */

/* footer section start */

.footer {
    background: #f7f6f9;
    border-radius: 3rem;
    margin: 2%;
    padding: 3rem;
}

.footer .newsletter {
    text-align: center;
    margin-bottom: 2rem;
}

.footer .newsletter h3 {
    font-size: 2.5rem;
    color: #130f40;
    padding-bottom: 1rem;
}

.footer .newsletter form {
    max-width: 70rem;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
}

.footer .newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
}

.footer .newsletter form input[type="submit"] {
    padding: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: #494262;
    cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
    background: #130f40;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #494262;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #494262;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: #52389b;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #52389b;
}

.footer .bottom {
    padding-top: 1rem;
    text-align: center;
}

.footer .bottom .share {
    margin: 1.5rem 0;
}

.footer .bottom .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 .3rem;
    color: #494262;
    background: #edecf2;
    transition: all 0.3s ease-out;
}

.footer .bottom .share a:hover {
    color: #edecf2;
    background: #494262;
}

.footer .bottom .credit {
    font-size: 2rem;
    color: #494262;
    padding: 1rem;
}

.footer .bottom .credit span {
    color: #52389b;
}

/* footer section end */

/* responsive start */

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        margin: 2%;
        border-radius: 2rem;
        background: #f7f6f9;
        text-align: center;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    .home .home-parallax-img {
        top: 0;
        right: 0;
        width: 100%;
    }

    .order form .flex .inputBox {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .shopping-cart-container .cart-total .box {
        text-align: center;
    }

    .shopping-cart-container .cart-total .box .btn {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}

/* responsive end */